body {
  height: 100%;
  margin: 0;
}

.panel {
  width: 90%;
  max-width: 700px;
  border-radius: 3px;
  padding: 30px 20px;
  margin: 150px auto 0px;
  background-color: #d983a6;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
  color:rgba(255,255,255,0.75);
  font: caption;
  font-weight: 100;
}

.welcome {
  text-align: center;
  font-weight: 100;
  margin: 0px;
}

.logo {
  width: 70px;
  height: 70px;
  vertical-align: middle;
}

.logo path {
  pointer-events: none;
  fill: none;
  stroke-linecap: round;
  stroke-width: 7;
  stroke: #fff
}

.big-title {
  text-align: center;
  font-size: 3.5rem;
  margin: 15px 0;
}

.description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* style for mic */
.container {
  position: absolute;
  width: 84%;
  bottom: 10px;
  margin: auto;
  z-index: 1;
  text-align: center;
}
.text-box {
  max-height: 70vh;
  overflow: scroll;
}
.text-box:focus {
  outline: none;
}
.text-box p {
  margin: 0px !important;
}
.mic {
  width: 2rem;
  height: 2rem;
  background: #1e2440;
  color: white;
  align-items: center;
  display: flex !important;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
  border-radius: 50%;
}
/* end style for mic */
.progress {
    position: absolute;
    /* display: block; */
    width: 100px;
    height: 50px;
    text-align: center;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 52px;
    background: transparent;
}

.progress > svg {
    height: 80%;
    display: block;
    margin: auto;
}
#voice-box {
  /* background-color: grey; */
  width: 100%;
  margin: 0 auto;
  radius: 5px;
  opacity: 0.8;
  padding-top: 5px;
  padding-bottom: 5px;
}


#mydiv {
  position: absolute;
  min-width: 200px;
  z-index: 9;
  background-color: white;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  margin-bottom: 15px; 
  cursor: move;
  z-index: 10;
  background-color: #f1f1f1;
  
  color: #fff;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 350px;
  
  z-index: 9;
  background-color: white;
  text-align: center;
  border: 1px solid #d3d3d3;
  /* left: 0; */
  right: 10px;
  width: auto;
  /* margin: auto; */
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

#components-list li, #voices-list li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  padding-right: 5px;
  border-bottom: 1px solid black;
  padding: 5px;
}

#voices-list li a, #components-list li a {

  color: black;
  font: bold;
  font-weight: 400;
  padding: 5px;
}
